@import "tailwindcss";

:root {
  --gold: #d4af37;
  --gold-light: #f5c95d;

  --background: #050505;
  --card: #0d0d0d;
  --border: #1f1f1f;

  --white: #ffffff;
  --gray: #a1a1aa;
}

html,
body,
#root {
  margin: 0;
  padding: 0;
  background: var(--background);
  color: white;
  min-height: 100%;
  font-family: "Outfit", sans-serif;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Cormorant Garamond", serif;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background: #080808;
}

::-webkit-scrollbar-thumb {
  background: #d4af37;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f5c95d;
}

img {
  user-select: none;
}

button {
  cursor: pointer;
}
html {
  scroll-behavior: smooth;
}